<!DOCTYPE html>
<html>
    <body>
        <form method="POST" name="Pay" action="/">
            <div class="row">
                <input name="amount" type="number" value=""/>
            </div>
            <br />
            <div class="row">
                <select name = "currency">
                <option value = "EUR" selected>EUR</option>
                <option value = "USD">USD</option>
                <option value = "RUB">RUB</option>
                </select>
            </div>
            <br />
            <div class="row">
                <textarea name="description" rows="10" cols="30"></textarea>
            </div>
            <br />
            <div class="row">
                <input type="submit" value="ОПЛАТИТЬ">
            </div>
        </form>
    </body>
</html>
